*
{
    box-sizing: border-box;
}

body
{
    font: 16px/22px  Roboto, Helvetica, Arial, sans-serif;
    color: #424344;
    margin: 0;
    background-color: #eeeded;
}
.container{
    padding: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}